body {
  background-color: #C0DEED;
}

h1,h2,h3,p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content {
  background: url('../assets/twitter-bg.png') no-repeat;
  background-attachment: fixed;
}

.navbar-header {
  float: left;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.navbar-default .navbar-brand {
  color: #ADD8E6;
}
.navbar-default:hover .navbar-brand:hover {
  color: #87CEFF;
}

.navbar-brand { float: none; }

.navbar>.container-fluid .navbar-brand {
  margin-left: -85px;
}

.icon-home {
  background: transparent;
  color: #C0DEED;
  border: none;
  padding: 4px;
  float: left;
}

.icon-home:hover {
  color: #87CEFF;
}

.main-container {
  background-color: white;
  border-radius: 8px;
  padding: 0px;
}

.icon-tweet {
  background: url('../assets/twitter-tweet-icon.png') no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
  float: right;
}

.btn:focus {
  outline: none;
}

.title-block {
  border-bottom: 1px solid #EBEBEB;
  padding: 12px;
}

.tweet-title {
  margin: 0 auto;
  padding-top: 5px;
  color: grey;
  font-weight: 300;
  float: left;
}

.tweet {
  border-bottom: 1px solid #EBEBEB;
  padding: 15px;
}

.user-name {
  font-size: 18px;
}

.tweet-time {
  font-size: 10px;  
}

/* Modal */
.modal-body {
  background-color: #C0DEED;
}

.guest-name, .form-text, .form-control {
  border-color: #87CEFF;
}



